/*Create an `index.css` file and import it within the `index.js` file.
 Add a `.welcome` class to the `Welcome` component 
 that changes its background color and adds a border.*/

.welcome {
  background-color: "red";
  border: 2px solid white;
}
.customStyle {
  border: 1px solid red;
  background-color: red;
}
